.wrapper
  background-color: #f9f9f9
  border: 2px dashed #c5c5c5
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  border-radius: 1em
  cursor: pointer
  transition-duration: 0s
  padding: 1vh 5.5vh!important
  flex-grow: 1
  width: 100%

  &:hover
    border-color: #4285f4

  .uploadSubtitle
    color: gray
    font-size: 1rem             
    text-align: center

  .uploadIcon
    color: gray

.previewImage
  height: auto  
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  position: relative
  border-radius: 1em
  marign: 0px
  display: flex
  .theImage, .previewVideo
    margin-left: auto
    margin-right: auto
    max-height: 30vh
    max-width: 100%
    height: inherit
    border-radius: 10px
  .previewVideo
    width: auto
    height: inherit    
    border-radius: 10px
    max-width: 100%

.btnRemove
  position: absolute !important
  right: 3px
  top: 0
  width: 2em !important
  height: 2em !important
  padding: 0 !important
  border-radius: 50% !important
