.FeaturedTag{
  // position: sticky !important;
  // position: -webkit-sticky !important;
  top: 0;
  z-index: 1;
  background-color: white;

  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0px 0px 0px 0px;
    height: 50px;   

    h3 {
        display: inline-block;
        height: 100%;
        margin: 0px;
        padding: 4px 0xp 0px 4px !important;
        a {
          display:block;
          height: 49px !important;
          // line-height: 2;
          span {
            border: 2px solid rgb(29, 134, 61);
            margin: 6px 0px 4px 0px;
            // width: 120px !important;
            height: auto;
            background: white !important;
            color:  rgb(29, 134, 61) !important;
            text-align: center;
            vertical-align: center;
          }
        }
    }
  }

  
  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
    h3 {
      flex: 0 0 auto;
      margin-right: 3px;
    }
  }

  .scrolling-wrapper, .scrolling-wrapper-flexbox {
    border-bottom: 1px solid rgb(192, 192, 192);
    max-height: 50px;
    margin-bottom: 0px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }

}