.tag_list
    .see_more_button
        width: 100%
        margin: 2vh 0vh
        background: white !important
        padding: 0px
        outline: none
        border: 2px solid var(--color-green)
        box-shadow: none
        border-radius: 5px
    .tag_item
        padding: 1.4vh 1vh 1.4vh 0.5vh
        color: black
        font-size: 1.2rem
        font-weight: 400
        border-radius: 10px
    .tag_item:hover
        color: var(--color-green)                
        background-color: var(--color-ivory) !important