/* .box
    .category-image
        height: 5px !important
        width: 5px
    .category-info
        .name
            margin: 0px !important 
            padding-left:15 px !important
        .desc
            margin: 0px !important 
            padding:0 px !important */

#row-name
    margin-left: 15px !important 
    padding-left: 15px !important

