.triangle_div
    --border-size: 14px
    width: 0
    height: 0
    border-left: var(--border-size) solid transparent
    border-right: var(--border-size) solid transparent            
    border-bottom: var(--border-size) solid white
    position: absolute
    right: 0px
    top: -8px