.HeaderTopNav
  top: 0  
  background-color: var(--color-green)
  position: sticky !important
  position: -webkit-sticky
  // padding: 0px
  padding-top: 0px !important
  padding-bottom: 0px !important
  padding-left: 0px !important
  padding-right: 0px !important
  z-index: 2  
  .header
    padding: 0vh 1vh
    .open_left_nav
      font-size: 1.4em      
    .MainLogo
      font-family: sans-serif
      font-size: 1.6em
      font-weight: 600
      sub
        padding-left: 1%
        font-weight: 400
    .right_nav_header
      .Authen_Nav
        // padding: auto 0px auto 0px
        padding-right: 0.3vh
        margin: auto
        .far
          font-size: 1.6rem          
          -webkit-text-stroke: 0px white
          color: white
          margin-right: 0.2rem
          margin-top: 0.25rem
          cursor: pointer
        .user_dropdown
          .nav-link
            padding: 0px 0px 0px 4px
            // padding: 0px auto 0px auto !important          
            .avatar_img
              height: auto
              width: 2rem        
        img
          height: auto  !important
          width: 2rem  !important
    .search_bar
      margin-top: auto
      margin-bottom: auto
      margin-left: auto
      // margin-right: auto
    .btn-sign-up
      border-bottom: 1px solid transparent
      transition-duration: .3s

      &:hover
        border-bottom: 1px solid white
    
    .upload-wrapper
      &--close
        display: flex
        justify-content: center
        align-items: center
        .btn-upload
          // margin-top: auto
          padding-left: 2vh
          padding-right: 2vh
          font-weight: bold
          background-color: white !important
          color: green !important
          font-size: 0.7rem
        .btn-upload:active
          background-color: green !important
          color: white !important

      &--open
        display: flex
        justify-content: center
        align-items: center
    
    .user_dropdown
      .user_dropdown_menu
        padding: 0vh
        a
          padding: 0vh
          margin: 0px
          height: 0vh          
        .dropdown-item
          font-size: 1rem
          font-weight: 400 !important
          margin: 0px
          padding: 1vh
          // font-family: sans-serif
          // margin: 1vh 0vh



@media only screen and (max-width: 600px)
  .HeaderTopNav.hidden
    // display: none !important
    transform: translateY(-110%)
  .HeaderTopNav
    top: 0
    padding-left: 2px !important
    padding-right: 0px !important
    background-color:var(--color-green)
    position: relative !important
    position: sticky !important
    position: -webkit-sticky 
    padding-top: 0px !important
    padding-bottom: 0px !important
    z-index: 5
    transform: translateY(0)
    transition: transform 0.3s ease
    .header
      padding: 0vh !important
      .MainLogo
        margin-left: auto
        font-weight: 600
        font-size: 1.6em
        // margin-right: auto        
      .right_nav_header
        // padding-top: 4px 
        // padding-bottom: 4px 
        .Authen_Nav
          
          // padding: auto 0px auto 0px
          .user_dropdown
            .nav-link
              padding-top: 0px
              padding-bottom: 0px
              padding-right: 0px
              // padding: 0px auto 0px auto !important          
              .avatar_img
                max-height: 38px
        .search_bar
          margin-top: auto
          margin-bottom: auto
  .hidden_mobile_nav
    // display: none !important
    top: -50px
    transition: 0.6s top
      