/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 100%;
    border-radius: 5px;
    display: inline-block;
    /* border: 2px solid #ffaaff */
    /* font-size: 2rem; */
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {    
    height: 5vh;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
}

div.ReactTags__tagInput input.ReactTags__tagInputField:active {
    border: 1px solid #eee;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    font-weight: bold;
    border: none;
    background: #8EB686 ;
    font-size: 15px;
    display: inline-block;
    padding: 5px 10px;
    margin: 2px 5px;
    border-radius: 15px;
    margin-bottom: 1vh;
    color: white;
    
}
div.ReactTags__selected a.ReactTags__remove {
    color: rgb(7, 3, 3);
    margin-left: 5px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 800;    
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    /* color: black; */
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}