.user_settings 
    font-size: 1.4rem !important
    color: black !important
    nav
        color: black !important
        a
            text-decoration: none !important
            color: black !important
        a[aria-selected="true"]
            color: green !important




@media only screen and (max-width: 600px)
    .user_settings 
        font-size: 1.0rem !important
        color: black !important
        align-items: center
        