
.fun
  margin-bottom: .7rem  
  // border: 2px solid green  
  // .article_media
    // width: 100%
  .content_row
    .main_content
      .senstitive_replaced
        width: 100%
        height: 60vh !important
        .sensitive_overlay
          position: absolute
          height: inherit
          width: 100%               
          background-color: black
          color: #fafafa
          text-align: center
          padding: 26vh 0%
          font-size: 3rem
          font-weight: 600
          cursor: pointer
          z-index: 1
          display: flex
          flex-direction: row
          justify-content: center          
          flex-wrap: wrap
          .info_symbol            
            font-size: 1.4vh
            padding: 0vh 0vh 0.1vh 0vh
            margin: 1.5vh 0vh 0vh 0.5vh
            // height: 100% !important
            height: 2.1vh
            width: 2.1vh
            align-self: top
            border-radius: 50%
            border: 0.12vh solid white
            
  .tag_list
    margin-right: 10px
    .tag_badge
      background-color: white !important
      color: var(--color-high-contrast-grey) !important
      border: 1px solid var(--color-high-contrast-grey)

  .img-wrapper
    padding: 0
    margin: 0
    width: 100%
    background-color: transparent !important



  .articles-name
    font-weight: 500
    font-size: 1.1rem
    margin-bottom: 0
    white-space: normal 
    text-align: justify
    padding-right: 8px

    word-break: break-word
  .articles-author
    margin-top: 7px
    font-size: .8em
    color: var(--color-high-contrast-grey) !important
    .view_count
      color: var(--color-high-contrast-grey)
    .separated_dot      
      padding: 0vh 0.6vh
      color: var(--color-high-contrast-grey)
    .elapsed_time
      color: var(--color-high-contrast-grey)
    .article_view_icon
      color: var(--color-high-contrast-grey)
      margin-top: auto
      margin-bottom: auto
    a
      color: var(--color-high-contrast-grey) !important

  .float-rights

    .settings-dropdown
      height: 30px
      width: 30px
      background-color: white !important
      border-radius: 50%
      margin: 0
      border: 0
      padding: 0
      float: right

  .footer
    margin-top: 0.2rem
    min-height: 49px

    .liked
      color: var(--color-green)

    .disliked
      color: #bb3838

    .more-dropdown
      height: 100%
      .dropdown-item
        padding: 0vh 1vh !important
        height: fit-content
        .share_btn          
          width: 100%
          margin: 0vh !important
          padding: 1vh !important
          // display: flex !important
          text-align: left
          background-color: white !important
          color: black !important
          box-shadow: none !important
          font-size: 1rem
          i
            font-size: 1.2rem
            padding-right: 1vh
        
    .point_count
      padding: 0vh !important
      font-weight: 450    
    .point_count.positive
      color: var(--color-green) !important
    .point_count.negative
      color: #bb3838 !important
    .btn-footer
      font-size: 1.25rem
      background: none
      outline: none
      border: none
      display: flex
      justify-content: space-around
      align-items: center
      width: 100%
      transition-duration: .3s
      padding: .5em .5em
      // color: #797979
      color: var(--color-high-contrast-grey)
      background-color: unset !important
      box-shadow: unset !important
      margin: 0
      height: 100%     

      &:hover
        background-color: var(--color-ivory) !important
        border-radius: 5px

      &:active
        background-color: var(--color-ivory) !important
        border-radius: 5px

    .custom-dropdown-toggle
      padding: 0 !important

  .image
    width: 100%
    //background-repeat: no-repeat
    //background-position: center
    //background-size: contain

.custom-dropdown-menu
  margin-bottom: 10px !important

  .item
    padding: 0

// .player-wrapper
//   position: relative;
//   padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */

// .react-player
//   position: absolute;
//   top: 0;
//   left: 0;

@media only screen and (max-width: 600px)
  .fun
    .content_row
      .main_content
        .senstitive_replaced
          height: 70vh !important  
          .sensitive_overlay            
            padding: 26vh 1vh
            .info_symbol
              font-size: 2vh
              padding: 0vh 0vh 0.1vh 0vh
              margin: 1.5vh 0vh 0vh 0.5vh
              // height: 100% !important
              height: 3.1vh
              width: 3.1vh
              align-self: top
              border-radius: 50%
              border: 0.12vh solid white
              