.modal_uploader
  font-size: 1.35rem 
  font-weight: 500 !important
  color: black !important
  text-decoration: none !important
  .video_announcement
    font-size: 0.8rem
    font-weight: 400 !important
    padding: 0vh 1vh 1vh 1vh
  .uploader_panel
    padding: 0vh 1vh 0vh 1vh
    margin-bottom: 1vh
  h5
    font-weight: 500 !important
  .Post_Button
    background-color: white
    color: #318f31 !important
    font-size: 1.4rem
    font-weight: 500
    // box-shadow: 0 4px #999 !important
    margin: 0px 0px 8px 0px
    padding: 1vh
    width: 100%
    border: 2px solid #318f31
    border-radius: 0.5rem
  
  .Post_Button:hover
    background-color: #318f31
    color: white !important

  .Post_Button:active
    color: white !important
    // box-shadow: 0 1px #666 !important
    transform: translateY(4px) !important
    background-color: #318f31

  .uploader
    padding: 2em
    min-height: 200px

  .mdFooter
    display: flex
    justify-content: center !important

  .mdBody
    padding-top: 0 !important

    .mdTagFrame
      // border: 1px solid black
      margin-left: 2px
      margin-right: 2px
      margin-top: 11px 
      padding: 1px 0px

      .mdTagDescription
        padding-left: 1px
        padding-right: 1px
        padding-top: 5px
        // border: 1px solid black
        font-weight: bold

  .tabPane
    padding: 1rem 0px 0px 0px

    .article_title_input
      border-radius: 0.8rem !important
      border: 2px solid var(--color-green)
      // border: none
      resize: none !important
      // color: green
      width: 100%
      font-size: 1rem
      text-align: left
      padding: 1rem
      outline: none
      font-weight: 400
    
    .sensitive_check
      padding-top: 1vh
      font-size: 1rem
      font-weight: 300      

  .selectBox
    // border-radius: 0 !important
    // border: none !important
    border-bottom: 1px solid lightgrey !important
    padding-left: 5px !important

    &:visited
      outline: none !important

    &:focus
      outline: none !important
      box-shadow: none
