.UserAvatar
    margin-left: auto
    margin-right: auto
    margin-bottom: 4px
    .AvatarFix

    .avatar_component
        margin-bottom: 20px
        margin-right: 16px
        margin-left: auto  
        .Avatar
            // position: relative
            // text-align: center
            // align-self: center            
            img
                // margin-left: 20px !important
                // margin-right: auto !important
                width: 100%
            .change_avatar_button
                align-self: center
                // self-align: center
                // position: absolute
                // height: 3rem                
                // bot: 20%
                // left: 15%
                margin: 8px 0px 0px 0px
                font-size: 1.5rem
                font-weight: 1000
                background-color: #ffffff
                border: 2px solid green                
                width: 100%
                height: auto
                // opacity: 70%
                color: green
                padding: 0px 


