.feedback_cmp
    .anonymous_feedback_form
        // border-top: 2px solid grey
        ._title
            font-size: 1.5rem
            font-weight: 400
    .feedback_parent
        display: flex
        flex-direction: columns
        margin-left: auto
        margin-right: auto
        max-width: 55%
        ._feedbacks_cmp
            padding: 1vh 2.2vh
            width: 100%
            .load_more_btn
                padding: 0vh 0.8vh
                text-align: center
                button
                    padding: 0vh
                    max-height: 2rem
                    max-width: 10rem
                    margin-left: auto
            .feedback_filter
                // text-align: center
                .Ripple-parent
                    padding: 0.5vh 1vh 0.2vh 1vh
                    color: white
                    font-size: 1rem
                    margin: 0vh                    
                    background-color: white !important
                    box-shadow: none
                    border: 2px solid white
                    border-radius: 0.8rem
                .Ripple-parent.feedback
                    color: var(--color-green)
                    border-color: var(--color-green)
                .Ripple-parent.bug
                    color: var(--color-feedback-bugs)
                    border-color: var(--color-feedback-bugs)
                .Ripple-parent.feature
                    color: var(--color-feedback-feature)
                    border-color: var(--color-feedback-feature)

            .feedback_content
                margin-top: 2vh
                display: flex
                flex-direction: row
                .feedback_type, .feedback_rating, .feedback_anonymous
                    font-size: 0.9rem
                    padding: 0.2vh 0.7vh 0vh 0.7vh
                    font-weight: 500
                    border-radius: 0.2rem
                    color: #fafafa   
                    text-transform: uppercase                 
                .feedback_type.feedback
                    background-color: var(--color-green)
                .feedback_type.bug
                    background-color: var(--color-feedback-bugs)
                .feedback_type.feature
                    background-color: var(--color-feedback-feature)
                .feedback_rating                    
                    padding: 0vh 1vh
                    margin: 0vh 0vh 0vh 1vh
                    background-color: #fafafa
                    color: var(--color-green)
                    border-radius: 0.2rem
                    border: 1px solid var(--color-green)
                    i
                        padding-left: 1vh
                .feedback_anonymous
                    background-color: #8B4513
                    margin-left: 1vh
                    display: inline-block                    
                .feedback_anonymous.anonymous
                    display: none

                .image_col
                    margin: 0vh 0vh 0vh 0vh !important
                    padding: 0vh 0vh
                    .image
                        border-radius: 50%
                        max-width: 110%
                .info_col, .created_time
                    font-weight: var(--feedback-small-font-weight)              
                    font-size: var(--feedback-small-font-size)
                    padding: 1vh 0vh 0vh 1vh
                .info_col
                    display: flex
                    flex-direction: column                    
                    word-break: break-word !important
                    max-width: 5.5rem
                    
                    margin-left: auto
                    // width: 30vh !important
                    
                .created_time                    
                    display: flex
                    padding-right: 1vh
                    // margin-right: auto
                    // margin-left: auto
                .feedback_col
                    padding: 0vh 0vh      
                    white-space: normal !important
                    word-break: break-word !important
                    margin: 0.2vh 0vh 0vh 0vh                                        
                        
                    .content
                        font-size: 1.2rem
                        font-weight: 370
                        word-break: break-word
                        white-space: normal
                        min-height: 6vh
                        // min-width: 37vw
                        border-radius: 1rem !important
                        background-color: var(--color-comment-content)
                        padding: 1vh 1.4vh
                        margin: 0.4vh 0vh
                    .like_section
                        display: flex
                        .percent_section
                            display: flex
                            flex-direction: row
                            align-items: center
                            padding: 0vh 0.5vh
                            .percent,.total_vote
                                font-weight: var(--feedback-small-font-weight)
                                font-size: var(--feedback-small-font-size)
                                text-align: center
                            .percent
                                padding-right: 0.2rem
                            .percent.bad
                                color: var(--color-red-dislike)
                            .percent.normal
                                color: 	#8B4513
                            .percent.good
                                color: var(--color-green)

                        .button-like,.button-dislike                            
                            margin: 0vh
                            padding: 1vh 1vh 1vh 0vh
                            background-color: white !important
                            color: #9e9e9e
                            box-shadow: none
                            border-radius: 0.2rem
                            // border: 1px solid grey
                            .far, .fa
                                font-size: 1.4rem !important
                            .liked
                                color: var(--color-green)
                            .disliked
                                color: var(--color-red-dislike)
                        .button-like

                        .button-dislike
                            margin: 0vh 1vh !important
                    

    .anonymous_feedback_form
        display: flex
        flex-direction: columns
        margin-left: auto
        margin-right: auto
        margin-top: 0vh
        padding: 0vh 2vh 2vh 2vh
        .feedback_types
            display: flex
            flex-direction: row
            flex-wrap: wrap
            .form-check
                display: flex
                flex-direction: row
                margin: 1vh 0vh !important
                padding: 0vh !important
                padding-right: 2vh !important
                label
                    margin: 0vh 0vh 0vh 3vh!important
                    padding-top: 1vh 
                input[type="radio"]
                    width: 2vh
                    padding: 1vh 0vh !important
                    margin: 0vh !important
                    display: flex
                    flex-direction: column
                    justify-content: start
        .feedback_btn
            button
                background-color: var(--color-green)
                color: white
                font-size: 1rem
                font-weight: 400

@media only screen and (max-width: 600px)  
    .feedback_cmp
        .feedback_parent
            max-width: 100%
            ._feedbacks_cmp        
                .feedback_filter
                    // text-align: center
                    .Ripple-parent
                        
                    .Ripple-parent.Feedback
                        
                    .Ripple-parent.Bugs
                        
                    .Ripple-parent.Feature
                        

                .feedback_content
                    
                    .feedback_type
                    
                    .feedback_type.Feedback
                    
                    .feedback_type.Bugs
                    
                    .feedback_type.Feature
                    
                    .feedback_rating
                                            
                    
                    .image_col
                        margin: 0vh !important
                        .image            
                            max-width: 2.5rem