.personal_description
    .user_info
        .user_avatar
        .stats
            padding-right: 0vh
            .subscriptions
                display: flex
                flex-direction: row
                flex-wrap: wrap
                vertical-align: center
                justify-content: center
                // width: 100%  
                // padding-left: 16px                                    
                .subscribers, .subscribe_to
                    flex-grow: 1
                    text-align: center
                    display: flex
                    align-items: center
                    padding: 0vh 1vh
                    font-size: 1.2rem
                    font-weight: 300
                    span
                        color: green
                        padding-left: 0.5vh
                        font-weight: 400                
                
        .subscribe_action
            display: flex
            align-items: center
            button
                border-radius: 10px
                // height: 4rem
                padding: 0.5vh 1vh
                display: flex
                align-items: center
                border: 2px solid var(--color-green)
                box-shadow: none
                text-transform: none
                color: black
                font-size: 1rem
                font-weight: 400
                height: auto
        .subscribed
            button
                background-color: var(--color-green)
                color: white !important
        .unsubscribed
            button
                background-color: white
                color: var(--color-green) !important
                    
    .avatar_box
        .avatar_img
            // border: 1px black solid
    .user_stats
        margin-top: 3%
        padding: 0px     
        // transition: 1s
        .points_and_ranks
            width: 100%
            margin: 8px 0px
            font-size: 1.1em
            font-weight: 400
            .ranks
                text-align: center
            .points
                text-align: center
        .user_stats_dropdown
            margin: 0px
            button
                margin: 0px
            .dropdown_toggle
            .dropdown_menu
        .dropdown_button
            width: 100% !important
            border: 2px solid var(--color-green)
            border-radius: 5px
            background-color: white
            padding: 4px 0px
            font-weight: 500 !important
            color: black
        
        .dropdown_content            
            width: 100%            
            font-weight: 500
            overflow-y: hidden            
            
            .table-responsive
                transition: 0.5s
                // border: 1px solid green !important
                
                .table.stat_table
                    border: 1px solid green !important
                    font-size: 2em !important
                    .td
                        font-size: 3rem !important
                    // thead                        
                    //     tr
                    //         th    
                    //             font-size: 3em !important
                    // tbody
                    //     tr
                    //         td
                    //             font-size: 2em
                    //             font-weight: 900 !important
                .stats_item
                    font-size: 1em
.user_flag
    // border-radius: 2%
    // border: 1px black solid
    // position: absolute
    // left: 80%
    // top: 10%

@media only screen and (max-width: 600px)
    .personal_description
        .user_avatar    
            padding-right: 0px !important
        .user_stats
            margin-top: 3%
            padding: 0px 8px