.LeftSideHidden
    width: 0
    height: 100%
    position: fixed
    z-index: 6
    top: 0
    left: 0
    background-color: #ffffff
    overflow-x: hidden
    transition: 0.1s
    padding: 0px 0px 0px 0px !important

    .popular_icon
        color: var(--color-green)

    .social_buttons
        padding-left: 0%

    .Category_Area
        div
            color: black !important
            font-size: 1.2rem
            font-weight: 400
        padding: 10px 0px 0px 10px
        .closeButton
            .close_button
                $size: 30px
                height: $size
                width: $size
                position: relative
                box-sizing: border-box
                line-height: $size
                display: inline-block

                &:before, &:after 
                    $width: 20px
                    $height: 5px
                    transform: rotate(-45deg)
                    content: ''
                    position: absolute
                    top: 50%
                    left: 50%
                    margin-top: -$height/2
                    margin-left: -$width/2
                    display: block
                    height: $height
                    width: $width
                    background-color: var(--color-green)
                    transition: all 0.25s ease-out
                
                &:after 
                    transform: rotate(-135deg)
                

                &:hover 
                    &:before, &:after 
                        transform: rotate(0deg)                                                
        .category_link
            // border: 1px solid black
            color: black
            i                        
                color: #2b9446 !important
        
        .comp_info
            // padding-left: 10vw
            
            // margin-left: auto !important
            padding-left: 20vw
            // margin-right: auto !important
    .return_button
    
    .Company_Info
        color: black !important
        padding: 10px 0px 0px 20px
        text-decoration: none !important

    .return_button
        background-color: #2b9446 !important
        // position: absolute
        bottom: 0px
        width: 100%        
        padding: 20px 0px 20px 0px
        margin: 10px 0px 0px 0px
        font-size: 1rem