.TagDropdown
    .more-dropdown
        // background: none !important 
        border: none !important
        height: 19px
        .tag-dropdown-btn
            color: var(--color-high-contrast-grey) !important
            // background-color: white !important
            // height: 15px !important
            padding: 0px
            margin: 0px
            height: 100%
            // border: 2px solid green
            box-sizing: content-box !important
            background: none !important 
            outline: none
            box-shadow: unset !important
        .tag-dropdown-btn:active
            color: white !important
            background-color: var(--color-high-contrast-grey) !important
    
    .more-dropdown:active
        color: white !important
        background-color: grey !important