.left-sticky-nav
  position: fixed
  // overflow-y: scroll
  //   overflow-x: hidden
  height: 90vh 
  // position: -webkit-sticky
  // top: 0
  // margin-top: 1%

  &__title
    color: gray
    font-size: 1.5em

  .company_info_parent
    width: 20vw
    position: absolute   
    bottom: 17.8vh

@media only screen and (max-width: 600px)
  .left-sticky-nav
    display: none