
.TagDropdown
    width: 60%
    // variables
    --image-size: 4vh    
    .dropdown_button
        width: 90% !important
        // border: 2px solid var(--color-green)
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.24)
        border-radius: 5px
        background-color: white
        padding: 0.2vh 0vh
        font-weight: 500 !important
        color: black
        display: flex
        flex-direction: row
        justify-content: space-between
        cursor: pointer
        
        .country_flag
            border-radius: 50%
            height: var(--image-size)
            width: var(--image-size)
            padding: 0.5vh
        .country_lang
            display: flex
            flex-direction: row
            align-items: center
            padding-left: 0.5vh
        .navigation
            display: flex
            flex-direction: row
            align-items: center
            padding-right: 1.5vh
            // border: 2px solid green
            .nav_icon_
                color: var(--color-green) !important
                line-height: inherit
                font-size: 1.1rem !important                
                // transform: 1s
                transition: 1s                
            .nav_icon_._onRotate_
                transform: rotate(90deg) !important            
    .dropdown_content            
        width: 90%
        font-weight: 500        
        transition: 1s
        height: 0px
        overflow-y: hidden
        .language_btn
            border: none !important
            box-shadow: none 
            border-radius: 0.2rem
            display: flex
            flex-direction: row
            justify-content: space-between
            transition: 0s
            padding: 0.5vh 2vh  0.5vh 2vh  
            align-items: center
            cursor: pointer   
            margin-top: 0.2vh                   
            p                
                margin-bottom: 0vh
            .flag
                padding: 0.2vh
                border-radius: 50%
                height: var(--image-size)
                width: var(--image-size)
        .language_btn:hover
            background-color: var(--color-hover)
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

                        
    