.SquareSearchBar
    
    .search_form        
        
        .input_group_prepend
            // position: absolute
            // right: -10px
            border: none !important
            // padding: .375rem .75rem
            // border-top-left-radius: 0rem !important
            // border-top-right-radius: 0.25rem !important
            // border-bottom-right-radius: 0.25rem !important
            // border-bottom-left-radius: 0rem !important
            background-color: white            
            width: 2rem
            max-height: 30.3px !important
            outline: none            
            .fa-search
                color: #3f813f !important
                font-size: 1.2rem
        .input_group_prepend:hover
            .fa-search
                // color: #8EB686 !important
        .input_group_prepend:active
            // border-color: #3f813f !important            
        .search_input
            border: none            
            max-height: 30.3px !important            
            outline: none
            -webkit-box-shadow: none
            -moz-box-shadow: none
            box-shadow: none
        .search_type_dropdown
            padding: 0px
            margin-top: 0px 
            line-height: 1
            height: 100%
            .btn
                padding: 0px
                margin: 0px 
                height: 30.3px
                // line-height: 1.5                
                width: 1.6rem
                border-top-left-radius: 0rem !important
                border-top-right-radius: 0.25rem !important
                border-bottom-right-radius: 0.25rem !important
                border-bottom-left-radius: 0rem !important
                background-color: white !important
                -webkit-box-shadow: none !important
                -moz-box-shadow: none !important
                box-shadow: none !important
                border-color: white
                .fa
                    color: #3f813f
                    line-height: inherit
                    font-size: 1.4rem                    
                    // transform: 1s
                    transition: 0.5s
                .fa.onSearch
                    transform: rotate(180deg)
            .btn:active
                background-color: white !important
            .search_dropdown_menu
                margin-top: 1vh
                padding: 0px 0px
                .search_for
                    margin: 1vh 0vh 0vh 0vh
                    padding: 1vh
                    font-weight: 500
                .search_dropdown_item
                    height: 5vh
                    padding: 1vh
                    text-align: left
                    font-family: sans-serif
                    font-size: 1rem
                    font-weight: 520
                    border: none
                .search_dropdown_item:hover
                    // background-color: #fcf9f4
                    background-color: var(--color-ivory)
                    -webkit-box-shadow: 1px 1px 5px 1px #dfdfdf
                    -moz-box-shadow:    1px 1px 5px 1px #dfdfdf
                    box-shadow:         1px 1px 5px 1px #dfdfdf