.lined_text
  padding: 0vh
  margin-top: 0vh
  .conn_text
    display: flex
    flex-direction: row
    font-weight: 400
    color: black
  .conn_text:before,.conn_text:after 
    content: ""
    flex: 1 1
    border-bottom: 1.4px solid #A2AF9F
    margin: auto 1vh
    padding: 0px