.popular-nav
  // position: sticky
  margin-top: 0px
  padding-left: 15px
  margin-bottom: 1rem
  .frame
    // border: 1px solid var(--color-green)
    border-radius: 10px
    background-color: #F4FBF3
    flex-wrap: wrap
    display: flex
    justify-content: center
  .get_the_app
    .slogan
      text-align: right !important   
      margin-left: 50px      
      margin-right: 0px
      font-size: 1.6em      
      font-weight: 400
      // text-shadow: 0 1px 1px #506707
      line-height: 2.5em
      font-family: open sans,sans-serif
      -webkit-font-smoothing: antialiased
      
    .application
      padding: auto
      font-size: 1.6em      
      font-weight: 400
      
      img
        height: 30px
        width: 30px
      .col-6
        padding: 0px
        button
          border: 1px solid green
          font-size: 0.8em
          padding: 2px
          margin: 0px 4px 0px 0px
          width: 100%
          .coming_soon
            font-size: 0.7em


  .popular_link
    padding: 1vh 1vh 1vh 0vh
    span
      width: auto
      min-width: 80px
      height: 100%
      word-spacing: 0.1rem
      font-weight: 400
      font-size: 1.1rem
      // border: 1px solid green
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      background-color: white !important
      color: green !important
      padding: 0.4vh 1.4vh
    span:hover
      color: white !important
      background-color: var(--color-green) !important      
      letter-spacing: 2.0px
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57)
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57)
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57)
      transition: all 0.4s ease 0s
            

  .popular_nav_title
    color: black
    font-size: 1.5em
    font-weight: 400
    padding-bottom: 8px
    display: flex
    justify-content: left
    padding-left: 20px

  // .popular_row
    
  //   .popular_icon
  //     // padding: 8px 8px 8px 8px
  //     border: 1px solid green
  //     color: green
  //     border-radius: 10%
  //     width: 30px    
  //     i
  //       align-self: center
    
  //   .popular_description
  //     color: black
  //     font-weight: 400
        

@media only screen and (max-width: 600px)
  .popular-nav
    display: none