
.category-nav
  position: sticky  
  width: 100%
  height: 60vh
  overflow-x: hidden
  transition: height 1s
  
  .category_list    
  
  .category_title
    color: black
    font-size: 1.4rem
    font-weight: 400
    margin: 0vh 0vh 0.8vh 0vh

  .MultiLanguage_Btn
    position: fixed
    bottom: 29vh
    width: 18vw

  .category_stats
    margin-bottom: 0.8vh 
    .category_icon
      color: var(--color-green)
      border: 1px solid var(--color-green)
      border-radius: 10%
      width: auto
      padding: 0.4vh 0.4vh 0vh 0.4vh
      font-size: 1rem
      // box-shadow: 0 1px 3px #8346461f, 0 1px 2px #ffa2a23d

    .category_icon:hover
      color: white
      background-color: var(--color-green)
    
    .category_name
      color: black
      font-size: 1rem
      font-weight: 400
      padding: 0.4vh 0vh 0.4vh 0.8vh
      text-align: right



// /* width */
.category-nav::-webkit-scrollbar 
    width: 0px
    // margin-right: 2px !important


// /* Track */
.category-nav::-webkit-scrollbar-track 
    box-shadow: inset 0 0 5px #fafafa
    border-radius: 10px


// /* Handle */
.category-nav::-webkit-scrollbar-thumb 
    background: #E9E9DF
    border-radius: 10px


// /* Handle on hover */
.category-nav::-webkit-scrollbar-thumb:hover 
    background: #9c9c9c


.collapse_d
  height: 42vh  
  transition: height 1s

@media only screen and (max-width: 600px)
  .category-nav
    display: none