.modal_updatepost
  .cmp_column
    display: flex
    flex-direction: column
    .modal_header
      border: none
      padding: 1vh 2vh 0vh 2vh
      font-weight: 500
    .modal_body
      
      .update_form
        display: flex
        flex-direction: row          
        .article_description
          padding-right: 1vh
          margin-right: 1vh
          outline: none
          resize: none
          border-radius: 0.5rem
          font-size: 1rem
          border: 2px solid #A2AF9F    
        .article_description:focus
          border: 2px solid var(--color-green)
      .buttons_panel
        display: flex
        flex-direction: row
        margin-top: 2vh        
        input, .cancel_button
          font-size: 1rem
          font-weight: 500
          padding: 1.1vh
          // height: 6vh      
          margin: 0vh    
          border-radius: 0.5rem
          background: white
          box-shadow: none
          border: 2px solid
          text-transform: uppercase
          // width: 
        input
          flex-grow: 1          
          margin-right: 1vh
          border-color: var(--color-green)          
          color: var(--color-green)          
        .cancel_button
          flex-grow: 1
          border-color: #A2AF9F       
          color: #A2AF9F   
          