.mobile_coming_soon:hover
    background-color: var(--color-hover)
.mobile_coming_soon
    display: flex
    flex-direction: column    
    border-radius: 0.2rem
    // border: 2px solid green
    margin: 1vh 0vh
    padding: 1vh 0vh
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.22)        
    .noti
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        padding: 0vh 1vh
        font-size: 1.4rem
        text-transform: uppercase
        font-weight: 400
        margin-bottom: 0.5vh
        // color: var(--color-green)
        
    .app_cmp
        display: flex
        flex-direction: row
        justify-content: space-between
        .gg_app, .iphone_app
            flex-grow: 1
            display: flex
            flex-direction: row
            justify-content: center
        .iphone_app
            flex-grow: 1            
        img
            height: 2rem
            width: 90%            
            cursor: pointer
        img:hover
            transform: scale(1.05)//; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            // -webkit-box-shadow: 6px 6px 6px 2px rgba(0,0,0,0.45)
            // -moz-box-shadow: 6px 6px 6px 2px rgba(0,0,0,0.45)
            // box-shadow: 6px 6px 6px 2px rgba(0,0,0,0.45)
