.CompanyInfoNav 
    font-size: 0.8rem
    .copy_right
        white-space: normal        
    .CompanyInfo
        padding-right: 20px
        width: 70%
    .dmca
        img
            height: 1.2rem

    .MultiLanguageBtn
        padding-right: 0px    
    a
        text-decoration: none
        color: black !important
        font-weight: 400
        
    hr 
        border: 0
        clear:both
        display:block
        width: 85%  
        background-color:#337733
        height: 1px
        padding-right: 20px
        margin-top: 8px
        margin-bottom: 8px
        // margin-left: 4px
    
    
    // .facebook
    //     background-color: #3b5998

    // .twitter
    //     background-color: #55ACEE
    
    // .instagram
    //     background: #d6249f
    //     background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)
    //     box-shadow: 0px 3px 10px rgba(0,0,0,.25)

    // .linkedin
    //     background-color: #007bb5
