.see_more_button
    width: 100%
    margin: 2vh 0vh
    background: white !important
    padding: 0px
    outline: none
    border: 2px solid var(--color-green)
    box-shadow: none
    border-radius: 5px
    height: 3rem