// .sub-box
//     padding-top: 5px
//     .sub-image-col
//         .sub-image
//             height: 2em 
//             width: 2em
//     .sub-content
//         margin: 0em !important
//         padding: 0em !important
.sub_comment
    .sub_cmt_dropdown
        display: inline-block
    .avatar_column
        text-align: left        
        width: 70px !important
        .sub_comment_avatar
            width: 100%
            max-width: 3.7em
    .sub_comment_column
        padding-left: 1vh
        .row
        .replied_to_user
            

    #settings_dropdown_button
        height: 30px
        width: 30px
        background-color: white !important
        // color: white !important
        border-radius: 50%
        margin: 0
        border: 0
        padding: 0
        float: center
        box-shadow: none

        #settings_dropdown_icon
            color: #C0C0C0 !important


    #sub_comment_img
        

    .thumbs_green
        color: #4682B4

    .thumbs_red
        color: #4682B4

    .sub_comment_container        
        // word-break: break-all
        white-space: normal        
        .sub_comment_content
            color: black
            font-size: 1rem
            font-weight: 400
            text-align: justify
            border-radius: 1rem
            padding: 1vh 1vh 1vh 1vh
            background-color: var(--color-comment-content)
    
    .sub_comment_buttons
        line-height: 10px !important
        // border: 1px solid black
        padding: 0px !important
        margin: 0px !important
        height: 2rem
        button
            height: 100% !important
            vertical-align: top
            margin-left: 0px !important
            margin-right: 10px !important
            // padding: 0px !important
            // padding-right: 2px
            
            
@media only screen and (max-width: 600px)
    .sub_comment
        .sub_cmt_dropdown
            display: inline-block
        .avatar_column
            text-align: left        
            .sub_comment_avatar
                width: 100%

                max-width: 3.7em
        .sub_comment_column
            padding-left: 2vh
            .row
            .replied_to_user
                