.sub_comment_form
    padding: 0vh 0vh 0vh 0vh !important
    margin-top: 0vh
    .input_form
        padding-right: 2vh
        margin-top: 0.2vh
        .form-group
        .textArea
            outline: none !important    
            width: 100%
            resize: none
            min-height: 10vh
            border-radius: 10px
            padding: 0.5vh 1vh
            // border: 2px solid green
    .cancel_button
        background-color: #b4b4b4
        // border: 1.5px #807e7e solid
        margin: 0vh
        padding-left: 1vh
        padding-right: 1vh
        color: white
        margin-right: 1vh
        box-shadow: none
        border-radius: 5px
    .cancel_button:hover, .cancel_button:active
        box-shadow: none        
        color: white
    .reply_button
        margin: 0vh
        background-color: white !important
        color: var(--color-green) 
        border: 1.5px var(--color-green) solid
        border-radius: 5px
    .reply_button:hover, .reply_button:active 
        background-color: white !important
        color: var(--color-green) 
        border: 1.5px var(--color-green) solid        
        
        // border: none
