.ranking_page_cmp
    --top-one-font-size: 1.8rem    
    --top-one-font-weight: 500
    padding: 0vh !important
    .load_more_btn
        margin: 0vh 2vh
    ._title        
        font-size: 2rem
        font-weight: 500
        display: flex
        flex-direction: row
        justify-content: center
        padding-left: 6vh
        padding-right: 1vh
        .timeframe
            display: flex
            align-items: center
            font-size: 1rem
            padding-left: 5vh
            padding-top: 0.6vh
    .user_info.zero_position:hover
        background-color: var(--color-green)
    .user_info.zero_position
        // border: 2px solid green
        border-radius: 1rem
        background-color: var(--color-green)
        margin: 1vh 0.7vh 0vh 0.7vh
        padding: 1vh 0vh 1vh 2vh
        // height: 8rem
    .user_info:hover
        background-color: var(--color-hover)
    .user_info        
        box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.22)        
        padding: 1vh 2vh   
        margin: 1vh 2vh 0vh 2vh
        // margin-top: 2vh
        // border-radius: 1rem
        // background-color: #c0bcbc
        .user_index.zero_position
            max-width: 1vh
            color: #fafafa
            padding-right: 2vh            
            font-size: var(--top-one-font-size)
            font-weight: var(--top-one-font-weight)
            // width: 1vh !impo//rtant
        .user_index
            padding: 0vh 2vh 0vh 0vh
            display: flex         
            align-items: center
            justify-content: center
            font-size: 1.4rem
            font-weight: 400
        .user_image.zero_position
            img                
                width: 4.8rem
                
        .user_image
            padding: 0vh
            display: flex         
            align-items: center
            // justify-content: center
            img
                border-radius: 50%
                width: 4rem
        .user_stats
            display: flex            
            align-items: center     
            flex-direction: row
            padding: 0vh 0vh 0vh 1vh
            .flag.zero_position                
                img
                    vertical-align: sup !important
                    margin-bottom: 3px
                    // padding-top: 100px
            .flag
                margin-left: 1vh
                a
                    img
                        vertical-align: baseline !important
            .name.zero_position
                a
                    color: #fafafa !important
                    font-size: var(--top-one-font-size)
                    font-weight: var(--top-one-font-weight)                    
            .name
                white-space: normal !important
                word-break: break-word
                padding-left: 1.2vh
                a
                    // padding-top: 1vh
                    margin-right: 0.5vh
                    color: black !important
                    font-size: 1.4rem
                    
        .user_award
            display: flex         
            flex-direction: row   
            align-items: center     
            padding: 0vh 0vh 0vh 1vh
            justify-content: flex-end


            .points.zero_position
                font-size: var(--top-one-font-size)
                font-weight: var(--top-one-font-weight)
                color: #fafafa
            .points
                // align-self: flex-end !important                                
                font-size: 1.5rem
                font-weight: 500
                // padding-left: 12vh
                padding-right: 2.5vh
                color: var(--color-green)
            .trophy_cmp.zero_position
                font-size: 2.6rem 
                color: #fdf478
            .trophy_cmp
                font-size: 1.5rem 
                color: var(--color-green)
                // padding-right: vh           

@media only screen and (max-width: 600px)
  .ranking_page_cmp
    --top-one-font-size: 1.1rem    
    --top-one-font-weight: 550    
    .load_more_btn        
    ._title
        text-align: center
        font-size: 1.8rem
        font-weight: 500
        padding-left: 9vh
        .timeframe            
            padding-left: 9vh
            // margin-left: 3vh
            
    .user_info:hover        
    .user_info.zero_position         
        padding: 1vh 0.4vh                       
    .user_info:hover        
    .user_info                
        // margin-top: 2vh
        // border-radius: 1rem
        // background-color: #c0bcbc
        .user_index.zero_position            
            color: #fafafa
            padding-right: 0vh            
            padding-left: 0vh !important            
            font-size: var(--top-one-font-size)
            font-weight: var(--top-one-font-weight)                                    
        .user_index
            max-width: 3vh !important
            padding: 0vh 2vh 0vh 0vh            
            font-size: 1.4rem
            font-weight: 400
        .user_image.zero_position
            img                
                max-width: 8vh                
        .user_image                            
            img
                border-radius: 50%
                max-width: 6vh
        .user_stats            
            padding: 0vh 0vh 0vh 0.5vh
            .flag.zero_position                
                img                
                    margin-bottom: 0px
                    // padding-top: 100px
            .flag
                // margin-left: 1vh
                a
                    img                   
            .name.zero_position
                a
                    color: #fafafa !important
                    font-size: var(--top-one-font-size)
                    font-weight: var(--top-one-font-weight)
                    margin-right: 1vh
            .name
                white-space: normal !important
                word-break: break-word
                padding-left: 2.5vh
                a
                    // padding-top: 1vh
                    
                    color: black !important
                    font-size: 0.8rem
                    
        .user_award            
            padding: 0vh 
            justify-content: flex-end
            margin-left: auto
            // margin-right: 0vh

            .points.zero_position
                font-size: var(--top-one-font-size)
                font-weight: var(--top-one-font-weight)
                color: #fafafa
            .points
                // align-self: flex-end !important                                
                font-size: 1rem
                font-weight: 500
                // padding-left: 12vh
                padding-right: 2.5vh
                color: var(--color-green)
            .trophy_cmp.zero_position
                font-size: 2.6rem 
                color: #fdf478
            .trophy_cmp
                font-size: 1.5rem 
                color: var(--color-green)
                // padding-right: vh           
