
$gold-medal: #f9ad0e
$silver-medal: #d1d7da
$bronze-medal: #df7e08
$neutral-medal: #d1d7da

.vote_page_container
    background-color: #fafafa
    text-align: center
    font-family: Raleway, sans-serif
    padding: 0px 64px 0px 64px
    .remaining_candidates
        padding: 3vw
        .candidate
            height: auto
            margin-top: 2vh
            border-radius: 10px
            border: 1px solid #b1afaf
            padding: 8px
            transition: 0.2s
        .candidate:hover 
            transform: scale(1.01)//; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            -webkit-box-shadow: 6px 6px 6px 2px rgba(0,0,0,0.45)
            -moz-box-shadow: 6px 6px 6px 2px rgba(0,0,0,0.45)
            box-shadow: 6px 6px 6px 2px rgba(0,0,0,0.45)
        .rank
            padding: 2vh 0vh
            // font-size: 2em
            
        .vote_btn
            width: 50px !important
            padding: 2px
            margin: 2px 0px 2px 0px

        .image
            img
                max-width: 100%
                height: auto
                border-radius: 8px
        .name
            text-align: left
            font-size: 1.5em
            font-weight: 600
    .voted_candidates
        font-size: 2rem
        font-weight: 400
    .count_down
        font-size: 2rem
        font-weight: 400
    .total_vote_count
        margin-top: 20px
        font-weight: 600
        font-size: 2rem
    .vote_slogan        
        // align-self: flex-start !important
        // position: sticky !important
        // position: -webkit-sticky 
        align-self: center
        // width: 100%
        height: auto
        font-size: 3vw
        font-weight: 400
        // font-family: Georgia
    .pc_vote_fight_component
        
        // overflow-x: scroll
        // overflow-y: hidden        
        .vote_fight_component
            justify-content:  center
            margin-bottom: 8vh                
            .fighting_symbol.overlay
                font-weight: 600
                position: absolute
                width: fit-content
                margin: 0 auto
                left: 0
                right: 0
                background-color: white
                padding: 16px 40px
                margin-top: 14rem
                border-radius: 2px
                z-index: 5
            .opponent_component                                
                // height: 600px
                border: 0px
                max-width: 453px
                .upvote_button
                    font-size: 1.2rem
                    // color: white
                    font-weight: 550                    
                    background-color: #ececec
                    border: none
                    color: black
                    // padding: 16px 20px 8px 20px                    
                    // text-align: center
                    text-decoration: none
                    display: inline-block                    
                    cursor: pointer
                    border-radius: 54px
                    width: 55%
                    margin-top: 20vh
                    margin-bottom: 6vh
                    margin-left: auto
                    margin-right: auto
                    padding-top: 2.5%
                    padding-bottom: 2%
                    transition: 0.4s

                .upvote_button:hover
                    letter-spacing: 2px 
                    // color: white !important
                    // background-color: #636363               
                    // border: none !important

                .opponent_avatar                   
                    box-shadow: rgba(0, 0, 0, 0.7)
                    border: 1px solid black             
                    text-align:  center
                    border-radius: inherit                    
                    position: relative
                    // overflow: hidden
                    .opponent_color_panel
                        height: 30%
                        width: 100%                        
                        position: absolute
                        top: 0
                        // z-index: 3
                    .opponent_image        
                        align-self: center
                        border-radius: 50%
                        position: relative
                        width: 150px
                        height: 150px
                        margin: 40px 0px 0px 0px
                        img                            
                            display: block
                            width: inherit
                            height: inherit                            
                            // max-height: 600px
                            border-radius: inherit
                            z-index: 1
                            bottom: 0
                            // margin: 0 80px  
                            left: 50
                            //
                        .opponent_image_overlay                                                        
                            position: absolute
                            top: 0
                            right: 0
                            // width: fit-content
                            width: inherit
                            height: inherit
                            border-radius: inherit
                            // border: 2px solid green
                            z-index: 1
                            // display: table
                            .candidate_profile_btn                                
                                height: auto
                                color: white
                                font-size: 0.8vw
                                font-weight: 700
                                display: none
                                // padding-left: 0px
                                // padding-right: 0px
                                padding: 4px 8px 4px 8px
                                margin-top: 42%
                        .rank_overlay
                            position: absolute
                            bottom: 0
                            right: -0.8vw
                            width: 40%
                            height: 40%
                            border-radius: inherit
                            z-index: 1                            
                            .badge
                                border-radius: inherit
                                width: 100%
                                height: 100%
                                padding-top: 32%
                                font-size: 1.4em
                                font-weight: 1000
                                
                                &.first_position
                                    box-shadow: inset 0 0 0 darken($gold-medal, 15%), 2px 2px 0 rgba(0, 0, 0, 0.08)
                                    border-color: lighten(adjust-hue($gold-medal, 10), 10%)
                                    text-shadow: 0 0 4px darken($gold-medal, 20%)
                                    background: linear-gradient(to bottom right, $gold-medal 50%, darken($gold-medal, 5%) 50%)
                                    border: 1px solid lighten($gold-medal, 10%)
                                &.second_position
                                    box-shadow: inset 0 0 0 darken($silver-medal, 15%), 2px 2px 0 rgba(0, 0, 0, 0.08)
                                    border-color: lighten(adjust-hue($silver-medal, 10), 10%)
                                    text-shadow: 0px 0px 4px darken($silver-medal, 20%)
                                    background: linear-gradient(to bottom right, $silver-medal 50%, darken($silver-medal, 5%) 50%)
                                    border: 1px solid lighten($silver-medal, 10%)
                                &.third_position
                                    box-shadow: inset 0 0 0 darken($bronze-medal, 15%), 2px 2px 0 rgba(0, 0, 0, 0.08)
                                    border-color: lighten(adjust-hue($bronze-medal, 10), 10%)
                                    text-shadow: 2px 2px 0 darken($bronze-medal, 20%)
                                    background: linear-gradient(to bottom right, $bronze-medal 50%, darken($bronze-medal, 5%) 50%)
                                    border: 1px solid lighten($bronze-medal, 10%)
                        .opponent_image_overlay:hover, .opponent_image_overlay:active
                            background-color: black
                            opacity: 0.85
                            .candidate_profile_btn
                                display: inline
                                opacity: 1
                            
                        // -webkit-filter: grayscale(100%)
                    .opponent_name
                        font-family: sans-serif
                        margin-top: 10px
                        align-self: center
                        color: black
                        font-size: 1.5vw
                        font-weight: 400       
                        width: 100%
                    .vote_status_container
                        padding: 1em
                transition: transform .2s 
                padding: 0px !important
                margin: 0px 32px
                border-radius: 5px
                margin-top: 5vh
            .opponent_component:hover 
                transform: scale(1.07)//; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
                -webkit-box-shadow: 10px 10px 40px 6px rgba(0,0,0,0.45)
                -moz-box-shadow: 10px 10px 40px 6px rgba(0,0,0,0.45)
                box-shadow: 10px 10px 40px 6px rgba(0,0,0,0.45)
                

    .vote_percentage_component
        margin: 8px 0px 8px 0px        
        .progress
            width: 100%
            height: 40px
            margin-bottom: 16px
            font-size: 1.2rem !important
        .vote_action
            text-align: center
        .vote_action.right_opponent

        .btn
            // background-color: #087dddaa !important
            // border-radius: 100%
            width: 60%
            height: auto
            font-size: 2vw
            margin: 0px 8px 0px 0px
        .btn.right_upvote
            background-color: #790909aa !important
    
    .stats_info
        height: 30vh
        .candidate_info
            overflow: hidden
            position: relative
            height: 300px
            .candidate_image
                max-width: 300px
                height: 300px
                position: absolute
                align-self: center
            .candidate_name
                align-self: center
                color: white
                font-size: 4vw
                font-weight: 400       
                width: 400px     
    .comment_section
        margin-top: 4vh
        .load_more_btn
            margin-top: 16px
            border: 2px solid green
            border-radius: 1% !important
            color: green
            font-size: 1em
            // padding: 4px 8px

    .table-responsive
        // border: 1px solid green
        // width: 100%
        table
            text-align: center
            width: 100%
            padding: 0px 32px 0px 32px
            table                
                thead
                    tr
                        // display: flex
                        // flex-direction: row
                        // align-items: center
                        border: none !important
                        th
                            // display: flex
                            // flex-direction: row
                            width: 200px
                            border: none
                            text-align: center    !important
                            font-size: 40px
                            padding: 0px 8px 0px 8px
                            img
                                width: 90%
                                height: 200px
                                margin: 0px 0xp 8px 0px !important
                                // border: 1px solid green
                                padding: 0px 16px 0px 16px
                                // align-self: center
                                text-align: center
                            #text
                                
                tbody
                    tr
                        td
                            // border: 10px solid black
                            font-size: 30px
                            width: 20px
                            text-align: center !important
                            margin: 1px 8px 10px 80px !important
                            // background-color: black

@media only screen and (max-width: 600px)
    .vote_page_container
        padding: 0px 8px
        .vote_slogan
            align-self: center
            // width: 100%
            height: auto
            font-size: 2rem
            font-weight: 400 
            width: 100%
        .pc_vote_fight_component
            overflow-x: scroll
            overflow-y: hidden
            white-space: nowrap
            padding-top: 1vh                 
            // display: none
            .vote_fight_component
                justify-content: left
                margin-bottom: auto !important          
                // display: none
                .opponent_component
                    margin: 6vh 1vw 6vh 4vw                    
                    .upvote_button:hover
                        letter-spacing: 1px
                    .opponent_avatar
                        width: 78vw                        
                        // .opponent_color_panel
                        //     height: 25%
                        .opponent_image
                            height: 30vw
                            width: 30vw
                            .opponent_image_overlay
                                .candidate_profile_btn                                
                                    height: auto
                                    color: white
                                    font-size: 3vw
                                    font-weight: 700
                                    display: none
                                    // padding-left: 0px
                                    // padding-right: 0px
                                    padding: 4px 8px 4px 8px
                                    margin-top: 42%                                        
                        .opponent_name
                            font-size: 5vw
                        
                        