.modal_uploader

  .upload_avatar
    margin-right: auto
    margin-left: auto
    margin-top: 16px
    margin-bottom: 16px
  .AvatarPreview
    margin-left: auto
    margin-right: auto
    margin-bot: 10px !important

  .Post_Button
    background-color: #41a149
    color: white
    font-size: 1.2rem

  .uploader
    padding: 2em
    min-height: 200px

  .mdFooter
    display: flex
    justify-content: center !important

  .mdBody
    padding-top: 0 !important

    .mdTagFrame
      // border: 1px solid black
      margin-left: 2px
      margin-right: 2px
      margin-top: 11px 
      padding: 1px 0px

      .mdTagDescription
        padding-left: 1px
        padding-right: 1px
        padding-top: 5px
        // border: 1px solid black
        font-weight: bold

  .tabPane
    padding: 1rem 0px 0px 0px

  .selectBox
    // border-radius: 0 !important
    // border: none !important
    border-bottom: 1px solid lightgrey !important
    padding-left: 5px !important

    &:visited
      outline: none !important

    &:focus
      outline: none !important
      box-shadow: none
