.user_level_badge
    border-radius: .125rem
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
    padding-left: 2px
    padding-right: 2px
    margin-top: auto
    margin-bottom: auto
    font-size: 80% !important    
    font-weight: 700
    vertical-align: top
    padding-top: 0%
    padding-bottom: 1.4em
    max-height: 11px !important