.right-sticky-nav
  // position: sticky
  // top: 90px
  padding-left: 10px
  // top: 0

  &__title
    color: gray
    font-size: 1.5em
  .user_rankings_parent
    padding-left: 15px
    // position: stickry
  .mobile_coming_parent
    padding-left: 15px
  .social_nav
    padding-left: 20px
    text-align: center !important
  .connect_us
    padding-left: 10px
    margin-top: 1vh
    .conn_text
      display: flex
      flex-direction: row
      font-weight: 400
    .conn_text:before,.conn_text:after 
      content: ""
      flex: 1 1
      border-bottom: 1px solid #788176
      margin: auto 1.2vh
      padding: 2px
    
@media only screen and (max-width: 600px)
  .right-sticky-nav
    display: none