.Seen_notification
    .see_more_cmp
        width: 100%
        display: flex
        flex-direction: row
        justify-content: center        
        .see_more_btn     
            margin: 0px
            background: white !important
            padding: 0px
            outline: none
            border: none
            box-shadow: none
        .see_more_btn:hover
            color: #137A1C
            text-decoration: underline
        