.user_list    
    .user_item        
        padding: 1.4vh 2vh 1.4vh 0vh
        text-decoration: none !important
        border-radius: 10px
        .user_image                        
            img
                border-radius: 50%
                height: 8vh
                width: 8vh
        .user_stats
            padding: 0vh 2vh
            width: 100%
            .flag
                // padding-right: 2em            
            .level_badge
                // padding-left: 0.5em 
                padding-top: 0.1em   
                width: fit-content
            .name
                color: black
                font-size: 1.2rem
                font-weight: 400                
            .name:hover
                // color: var(--color-green)
            .rank_points
                color: black
                font-size: 1rem
                font-weight: 300
                width: 100%
                .rank
                    flex-grow: 1
                    padding-left: 1vh
                .points         
                    flex-grow: 1       
    .user_item:hover
        background-color: var(--color-ivory)
        // background-color: #F6EDD9
    .see_more_button
        width: 100%
        margin: 2vh 0vh
        background: white !important
        padding: 0px
        outline: none
        border: 2px solid var(--color-green)
        box-shadow: none
        border-radius: 5px