.user_notification
    padding: 1vh 1.2vh !important    
    background-color: transparent !important
    .noti_container
        width: 100%
        display: flex !important
        flex-direction: row !important
        // justify-content: center      
        padding: 1vh
        // margin: 0px !important
        // border: 3px solid transparent
        border-radius: 10px
        // margin-right: 2vh

        .see_more_btn     
            margin: 0px
            background: white !important
            padding: 0px
            outline: none
            border: none
            box-shadow: none
        .creator_img
            border-radius: 50%
            width: 7vh
            height: 7vh
        .noti_text
            padding: 0vh 1.2vh
            word-break: break-word
            // width: 10px
            white-space: normal 
        .article_img
            width: 7vh
            height: 7vh
            border-radius: 5px
    .noti_container.seen
        background-color: transparent

    .noti_container.unseen    
        background-color: #F6EDD9

.user_notification:hover
    background-color: transparent

.user_notification.hidden
    display: none


@media only screen and (max-width: 600px)
    .user_notification        
        min-width: 72vw