.ReplyTag
    position: absolute
    margin-left: 1.4vh
    margin-top: 1vh
    font-size: 1.2rem
    .reply_badge
        background-color: #8EB686 !important
        .close_button
            padding: 0vh 0.2vh 
            margin: 0px 0vh 0vh 0.9vh
            height: inherit !important
            border: none
            background-color: inherit
            color: white 

.ReplyTag.removed
    display: none