.StickyUploadButton        
  display: none
@media only screen and (max-width: 600px)  
  .StickyUploadButton        
    display: block
    .drag_button
      // border: 2px solid green
      height: 10px
      width: 10px
      z-index: 1000
      position: fixed      
      right: 2px
      bottom: 2px
      // z-index: 
    .BtnContainer
      // display: block                  
      // right: 100px
      .Button   
        padding: 2vh 2vh 
        right: 10px
        position: fixed
        height: 14vw
        width: 14vw
        border-radius: 50%
        // border: 1px solid red
        z-index: 2
        bottom: 10px
        background-color: #3f9155 !important
        color: white
        font-size: 3vh
        transition: background .3s linear
        display: flex !important
        flex-direction: row
        justify-content: center
        align-items: center
        .UpIcon
          align-self: center          
          // position: absolute
          // top: 24px
          // left: 25px
      .Shining
        position: absolute
        top: 0
        left: -70px
        height: 98px
        width: 50px
        background: rgba(255, 255, 255, 0.4)
        transition: all .3s linear
        transform: skewX(20deg) translateX(0)
        
      
      