.fun-right-content
  height: 100%

  .fun-right-content--mobile
    margin-top: 8px
    display: none

    .btn-bottom
      flex: 1
      border-right: 1px solid rgba(0,0,0,.1)
      padding: 5px
      display: flex
      align-items: center
      justify-content: center

      &:last-child
        border-right: unset

  .fun-right-content--desktop
    display: flex
    flex-direction: column
    align-items: flex-start
    height: 100%

    .thumbs-green
      color: var(--color-green)

    .thumbs-black
      color: black

    .thumbs-red
      color: red

    .fun-button
      width: 4em
      height: 4em
      padding: 0

      &:first-child
        margin-top: 0

      &--like
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        .like-count
          font-size: 1.2em
          font-weight: bold

      &--comment
        margin-top: auto
        margin-bottom: 0
        border-radius: 50%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: var(--color-green) !important

        .cmt-count
          font-size: 1.2em
          font-weight: bold

        .cmt-count-wrapper
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center

  @media only screen and (max-width: 600px)
    .fun-right-content--desktop
      display: none
    .fun-right-content--mobile
      display: flex
