.LeftNavSearchBar
    margin-top: 0.2vh
    margin-bottom: 1vh
    margin-right: 2.5vw
    .search_form        
        padding: 0.1em 0.05em
        border: 2px solid green
        border-radius: 5px 
        .input-group-prepend
            .search_button
                border: none
                // border-right: none
                background-color: transparent
                padding: 1vh
                i
                    color: green !important

        .search_input            
            border: none
            outline: none
            border-color: transparent
            -webkit-box-shadow: none
            -moz-box-shadow: none
            box-shadow: none
            border-radius: 10px  
            padding: 1vh 1vh
        .search_input:active

        .search_type_dropdown
            border-radius: 10px
            border: 1px solid transparent
            .btn
                padding: 0px
                margin: 0px 
                height: 100%
                // line-height: 1.5   :             
                width: 1.6rem
                border-radius: 10px                
                
                background-color: white !important
                -webkit-box-shadow: none !important
                -moz-box-shadow: none !important
                box-shadow: none !important                
                .fa
                    color: #3f813f
                    line-height: inherit
                    font-size: 1.4rem
            .btn:active
                background-color: white !important
                -webkit-box-shadow: none !important
                -moz-box-shadow: none !important
                box-shadow: none !important  
            