.social_buttons    
    padding: 0px !important 
    width: 100%   
    .social_button
        border-radius: 5%
        padding: 8px
        min-width: 25%
        height: 100%
        width: 90%    
        flex-grow: 1
        text-align: center
        margin-right: 4px
        // border: 1.5px solid var(--color-green)
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
        .button_group

        i
            margin-left: auto !important
            color: var(--color-green) !important
    .social_button:hover
        i
            color: white !important
        background-color: var(--color-green)

// .facebook
//     background-color: #3b5998

// .twitter
//     background-color: #55ACEE

// .instagram
//     background: #d6249f
//     background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)
//     box-shadow: 0px 3px 10px rgba(0,0,0,.25)

// .linkedin
//     background-color: #007bb5
