.FacebookAuthCmp
    padding: 0vh
    width: 100%
    padding-bottom: 1vh
    .facebook_auth
        width: 100% !important        
        background-color: #3b5998 !important
        margin: 0px
    