.home

  .content
    padding-top: 10vh
    margin: 0px !important
    .my_comments, .public_comments
      padding-left: 0.5vh
      padding-top: 1.8vh
      padding-bottom: 1vh
      font-size: 1.2rem
      font-weight: 500

