.donate_page
  // border: 2px solid green
  scroll-behavior: smooth
  .donate_image
    border-radius: 10% !important
    height: auto
    width: 100%
    border: 1px solid grey

  .Donation_paragraph
    text-align: justify