.comment-form
    .comment-form-row
        margin: 0px
        .user_avatar            
            .comment-avatar
                width: 6.2em   
        .avatar-col
            .img-avatar
                border-radius: 50%
                background-color: green
                height: 4em
        .form-col
            padding-right: 0px
            .comment-text
                margin: 0px
                padding: 0px                
                position: relative
                // border-radius: 50%
                border: 1px solid #bbc7bd                
                -webkit-border-radius: 15px
                -moz-border-radius: 15px
                border-radius: 10px
                .comment-textarea        
                    border: none            
                    margin-bottom: 0.5rem
                    color: black
                    overflow-x: hidden            
                .image_icon
                    position: relative
                    text-align: left
                    .comment_img                    
                        max-height: 200px
                        max-width: 200px
                        padding-left: 4px
                        padding-bottom: 4px
                    .remove_image_btn
                        // visibility: hidden
                        // background-color: transparent !important
                        border-radius: 50%
                        background-color: var(--color-red-dislike) !important
                        color: #fafafa
                        position: absolute
                        // display: inline
                        height: 1.4rem
                        width: 1.4rem
                        top: 2px
                        left: 5px  
                        padding: 1px
                        margin: 0px
                        font-size: 0.9rem
                textarea
                    border: none
                    overflow: auto
                    outline: none
                    -webkit-box-shadow: none
                    -moz-box-shadow: none
                    box-shadow: none
                    -webkit-border-radius: inherit
                    -moz-border-radius: inherit
                    border-radius: inherit
                    resize: vertical
                    
                
                

            .button-list
                #comment-button-div
                    margin: 0px !important
                    padding: 0px !important
                    .comment-button
                        margin: 0px
                        margin-top: 2px
                        color: var(--color-green)
                        background-color: white !important                        
                        border: 1.5px solid var(--color-green)
                        font-weight: 500
                        border-radius: 5px
                        // padding: 0px                                                
            .comment_fileinput::-webkit-file-upload-button
                visibility: hidden !important
            .comment_fileinput::before
                content: 'Image'
                // display: inline-block
                // background: linear-gradient(top, #f9f9f9, #e3e3e3)
                background-image: 'https://image.flaticon.com/icons/png/512/48/48639.png'
                border: 1px solid #999
                border-radius: 3px
                padding: 5px 8px
                outline: none
                white-space: nowrap
                -webkit-user-select: none
                cursor: pointer
                text-shadow: 1px 1px #fff
                font-weight: 700
                font-size: 10pt
                color: black !important
            .comment_fileinput:hover::before 
                border-color: black                
            .comment_fileinput:active::before 
                background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9)
            .comment_fileinput
                position: absolute
                color: transparent
                width: 57px
                height: 26px
                left: 2px
                margin-top: 4px
                // bottom: px

@media only screen and (max-width: 600px)
    .comment-form
        .comment-form-row
            .comment-avatar
                