.Commend_sass    
    vertical-align: text-top
    margin-top: 0.5vh
    .comment_text_container
        padding-right: 2vh !important
        // height: 2rem
        line-height: 20px
        // word-break: break-all
        white-space: normal 
        .comment_content
            border-radius: 1rem
            padding: 1vh 1vh 1vh 1vh
            font-size: 1rem
            // font-family: 'Raleway',sans-serif
            font-weight: 400
            line-height: 20px
            color: black
            text-align: justify
            background-color: var(--color-comment-content)
            // margin: 0 0 16px
    .comment_btn_row
        // max-height: 2rem
        .show_replies            
            // text-align: left !important 
            
        button            
            padding: 0px 2px 0px 0px !important
            margin: 0px 20px 0px 0px !important
            background-color: transparent !important   
    .comment_section
        padding: 0.5vh 0vh !important
        .image-col
            padding-right: 0.4em
            text-align: right            
            padding-left: 0px

            .image
                height: auto
                width: 4rem
        
        .content-col
            padding-left: 5px
            .username-row
                max-height: 1.8rem 
                padding: 0px
                margin: 0px
                // line-height: 
                .nation_flas_css
                    display: flex
                    // line-height: 3px
                    a
                        // padding-bottom: 10px !important
                        padding-top:  1px
                        img
                            vertical-align: text-top
            .row
                margin: 0px !important

    .comment_section:hover 
        background-color: #ffffff

        // background-color: #F6EDD9
    
    // .comment_section:focus
    //     background-color: #ffffff

    .comment_image
        max-width: 100%
        height: auto
        max-height: 170px

    #button-reply
        padding: 2px
        background-color: #FFFFFF !important
        color: #808080
        font-weight: 500
        box-shadow: none
        margin-bottom: 0px
        margin-top: 0px        

    #button-thumbs
        // flex: 1
        padding: 2px
        background-color: #FFFFFF !important
        color: #808080
        height: 3.5em
        border: 0px !important    
        display: flex
        align-items: center
        justify-content: center
        height: 3em
        // width: 2em
        box-shadow: none
        margin-left: 12px
        margin-bottom: 0px
        margin-top: 0px
        margin-right: 0px

    #button-show-replies
        font-family: Roboto
        margin: 0px
        padding-right: 0px
        padding-left: 0px
        padding-top: 5px
        padding-bottom: 8px
        color: #646464
        font-weight: 500
        background-color: #FFFFFF !important
        box-shadow: none
        margin: 0px

    #icon-arrow-alt-circle-up
        // color: #2E8B57    

    #icon-arrow-alt-circle-down
        // color: #800000

    #settings-dropdown-comment
        height: 30px
        width: 30px
        background-color: white !important
        border-radius: 50%
        margin: 0
        border: 0
        padding: 0
        float: right
        box-shadow: none

    #comment-settings-icon
        color: #C0C0C0 

    .thumbs-green
        color: var(--color-green)

    .thumbs-black
        color: black

    .thumbs-red
        color: #bb3838

    .comment_section
        

@media only screen and (max-width: 600px)
    .Commend_sass
        .comment_section
        
            .image-col
                padding-right: 0.6em
                .image
                    height: auto
                    width: 70%

        .comment_section:hover
            background-color: white