.sign_up_cmp
  .sign_up_btn
    background-color: var(--color-green) !important
    width: 100%
    margin: 0px
    color: white !important

  .signup_cancel_up_btn
    margin-top: 8px !important
    background-color: #fafafa !important
    border: solid 1px var(--color-green) !important
    color: var(--color-green) !important
    width: 100%
    margin: 0px