.login-cmp  
  .login_header
    padding: 0.5vh 1vh
    margin: 0vh
    border: none
  button
    border-radius: 2px !important
  .modal-content
    border-radius: 1% !important
    // width: 20rem
    .modal-body
      padding: 1vh 2vh
      input
        outline: none
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none
        margin-top: 1vh
      input:focus
        border: 1.4px solid var(--color-green)
      .sign_up_now, .privacy_policy  
        text-align: center
        margin-top: 1vh
        color: #124b80        
        .sign_up_switch
          text-align: center
          margin-top: 1vh
          color: #124b80
          text-transform: none
          border: none
          box-shadow: none
          padding: 1vh 0vh
          margin: 0px
          font-size: 1rem
        .sign_up_switch:hover
          text-decoration: underline
      .privacy_policy
        font-size: 0.75rem
        margin-top: 0px           
        a
          color: #124b80 !important
          font-family: sans-serif
          text-decoration: none
          font-weight: 200 !important
        
  .social-buttons-group
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    justify-content: space-between
    .age_confirm_overlay      
      position: absolute
      width: 100%
      height: 100%
      top: 0
      cursor: pointer
      // background-color: green

  .accept_tos_policy
    white-space: normal
    padding: 1vh 0vh 0.2vh 0vh
    font-size: 0.8rem
    font-weight: 400
    .tos
      color: #1a568f !important
      margin: 0px 2px 0px 2px
  .adult_check_container
    padding-left: 0vh
    display: flex
    flex-direction: column
    .is_adult_check
      align-self: flex-start
      align-self: start
      font-weight: 400
      font-size: 0.8rem
      padding-top: 0.4vh      
      // display: flex
      flex-direction: row
      text-align: left
      input              
      label        
        padding-top: 0.2vh
  .Login_btn
    background-color: var(--color-green) !important
    width: 100%
    margin: 0px
    color: white !important
  
  .cancel_btn
    margin-top: 8px !important
    background-color: #fafafa !important
    border: solid 1px var(--color-green) !important
    color: var(--color-green) !important
    width: 100%
    margin: 0px

  .loading_overlay
    display: absolute !important
    width: 100%
    border: 2px solid green
    height: 100px
    top: 0 !important
  
@media only screen and (max-width: 600px)
  .login-cmp
    .modal-content
      width: 80vw
      margin-left: 8vw
      margin-top: 8vh