:root {
  /* ---------------------------------------- global color ---------------------------------------- */
  --color-green: #318f31;
  --color-red-dislike: #bb3838;
  --color-ivory: #f3f3f3;
  /* --color-ivory: #f3f3f3; */
  --color-hover: #fdf5f5;
  --color-feedback-bugs: #D05807;
  --color-feedback-feature: #0056AF;
  --color-comment-content: #faf3f3;
  --color-high-contrast-grey: #6c747d;
  --feedback-small-font-size: 0.8rem;
  --feedback-small-font-weight: 400;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
