.notification_bell        
    // .nav-tabs        
    //     color: black !important
    //     // padding-left: 30% !important
    //     text-align: center        
    //     a
    //         font-size: 1.6rem !important
    //         text-decoration: none !important
    //         color: black !important
    //         width: 50%
    //         font-weight: 400 !important
    //     a[aria-selected="true"]
    //         color: var(--color-green) !important    
    padding-right: 0.3vh
    .bell_dropdown
        .seen_all_btn
            box-shadow: none !important
            width: 97%
            padding: 1vh 1vh 0vh 1vh
            margin: 0vh 1vh
            text-decoration: underline
            text-transform: none
        .seen_all_btn:active
            box-shadow: none
        .dropdown-menu
            // margin-top: 2vh !important
            // position: fixed
            margin-top: 0.4vh            
            padding: 0vh !important
            // overflow-y: scroll
            // overflow-y: scroll
            overflow-x: hidden 
            max-height: 55vh
            width: 344px !important
            top: 0px !important   
            // border-radius: 5px            
        // /* width */
        .dropdown-menu::-webkit-scrollbar 
            width: 3px
            // margin-right: 2px !important


        // /* Track */
        .dropdown-menu::-webkit-scrollbar-track 
            box-shadow: inset 0 0 5px #fafafa
            border-radius: 10px


        // /* Handle */
        .dropdown-menu::-webkit-scrollbar-thumb 
            background: #b7b9b7
            border-radius: 10px


        // /* Handle on hover */
        .dropdown-menu::-webkit-scrollbar-thumb:hover 
            background: #9c9c9c
        .see_more_cmp
            width: 100%
            display: flex
            flex-direction: row
            justify-content: center
            margin-bottom: 2vh      
            .see_more_btn     
                margin: 0px
                background: white !important
                padding: 0px
                outline: none
                border: none
                box-shadow: none
            .see_more_btn:hover
                color: #137A1C
                text-decoration: underline

        button.btn[aria-haspopup="true"]
            background-color: var(--color-green) !important            
            padding: 0px 0px            
            border: none 
            box-shadow: none
            vertical-align: center
            margin-top: 0.5rem
            margin-right: auto
            // width: 80%
            .fa-bell
                font-size: 1.6rem                
            .show_noti
                height: 0.75rem
                width: 0.75rem
                border: 2px solid red
                position: absolute
                top: 0
                right: 0px
                border-radius: 50%
                background-color: #F41755
                // padding-bottom: 10px
                border: none
                vertical-align: text-top
                font-size: 0.6rem
                font-weight: 600
                // display: flex
                // vertical-align: center
                // align-content: center
                text-align: center






    

@media only screen and (max-width: 600px)                
    .notification_bell
        .bell_dropdown
            .dropdown-menu
                // margin-top: 2vh !important
                // position: fixed
                top: 10px !important
            button
                margin-left: auto


