.user_rankings_child    
    border-radius: 0.2rem
    width: 100%
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)    
    padding: 0vh 0.5vh 1vh 0.5vh !important    
    overflow-x: hidden
    height: auto
    max-height: 40vh
    
    .row
        margin: 0px
        padding: 0px
    .col-1
        max-width: 1.8vh
        margin: 0px 
        padding: 0vh
    .col-11
        margin: 0px 
        padding: 0px
    .title
        margin: 0px
        padding: 0.8vh 2vh 0vh 1vh        
        text-align: center
        position: -webkit-sticky
        position: sticky
        top: 0
        z-index: 1
        background-color: white
        a
            font-size: 1.2rem
            font-weight: 500
            color: black
            display: flex
            .sup_info
                border: 1px solid black
                border-radius: 50%
                font-size: 0.5rem
                width: 0.7rem !important
                height: 0.7rem
                padding: 0px 0px 2px 0px
                margin-left: 0.15rem             
                // margin-bottom: 1.2rem                

            // text-decoration: unde
        // display: flex
        // flex-direction: row
        // justify-content: center
    .user_info
        height: auto
        padding: 1vh 0vh
        font-size: 1rem
        font-weight: 400
        border-radius: 0.3rem
        // margin-bottom: auto
        
        .user_index
            padding-top: 0.4em
            padding-right: 0.4em
            padding-left: 0px
            margin-left: 0px !important
            text-align: center
        .user_image
            padding: 0vh 0vh 0vh 4px
            img
                padding: 0px
                height: 35px
                width: 35px
        .user_stats
            padding: 0px 8px  
            height: 100%
            // margin-bottom: auto !important
            // overflow: es
                        
            .name
                padding: 0px
                display: flex
                flex-direction: row
                // align
                align-items: center     
                white-space: normal
                word-break: break-word           
                    
                a
                    align-self: flex-start
                    color: black !important
            .points
                font-weight: 350
                font-size: 0.8rem
                
    .user_info:hover
        background-color: var(--color-hover)
        box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.22)        
        // background-color: #F6EDD9
    .see_more
        height: 1.4rem
        .see_more_btn
            width: 100%
            padding: 1vh 0vh
            margin: 0px            
            box-shadow: unset
            height: 100%
        .see_more_btn:hover
            text-decoration: underline
            color: var(--color-green)

// /* width */
.user_rankings_child::-webkit-scrollbar 
    width: 3px
    height: 5px !important
    // margin-right: 2px !important


// /* Track */
.user_rankings_child::-webkit-scrollbar-track 
    box-shadow: inset 0 0 5px transparent
    border-radius: 10px
    height: 10px !important


// /* Handle */
.user_rankings_child::-webkit-scrollbar-thumb 
    background: #b7b9b7
    border-radius: 10px
    height: 6px !important

// /* Handle on hover */
.user_rankings_child::-webkit-scrollbar-thumb:hover 
    background: #9c9c9c